<head>
    <title>Manager Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
 
  <div class="container bootstrap snippet" >
       
    <div id="navbar">
      <a href="#login" (click)="logout()">Sign Out</a>
      <a href="#employeeList">View employees</a>
    </div>
      
      <div class="row">
            <div class="col-md-3"></div>
          <div class="col-md-6">
            
            <div class="tab-content">
              <div class="tab-pane active" id="home">
                
                    <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()" (ngChange)="onChanges()" class="form" action="##" method="post">
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="name"><h4>Name</h4></label>
                                <input type="text" class="form-control" formControlName="name" [(ngModel)]="name" minlength="3" id="name" placeholder=" name" title="enter your name">
                            </div>
                            <div *ngIf="userProfileForm.controls['name'].invalid && (userProfileForm.controls['name'].dirty || userProfileForm.controls['name'].touched)" class="alert alert-danger">
                              <div *ngIf="userProfileForm.controls['name'].hasError('required')">
                                 Name is required.
                              </div>
                              <div *ngIf="userProfileForm.controls['name'].hasError('minlength')">
                                 name is less than 3 characters.
                              </div>
                            </div>
                        </div>
                        
  
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="dob"><h4>Date Of Birth</h4></label>
                                <input type="date" class="form-control" formControlName="dob" [(ngModel)]="dob" id="dob" placeholder="enter date of birth" title="enter your date of birth">
                            </div>
                            <div *ngIf="userProfileForm.controls['dob'].invalid && (userProfileForm.controls['dob'].dirty || userProfileForm.controls['dob'].touched)" class="alert alert-danger">
                              <div *ngIf="userProfileForm.controls['dob'].hasError('required')">
                                Date Of Birth is required.
                              </div>
                            </div>
                        </div>
          
            
                        <div class="form-group">
                            <div class="col-xs-6">
                               <label for="phoneNumber"><h4>phoneNumber</h4></label>
                                <input type="text" class="form-control" formControlName="phoneNumber" [(ngModel)]="phoneNumber" minlength="10" maxlength="10" id="phoneNumber" placeholder="enter phoneNumber " title="enter your phoneNumber  if any.">
                            </div>
                            <div *ngIf="userProfileForm.controls['phoneNumber'].invalid && (userProfileForm.controls['phoneNumber'].dirty || userProfileForm.controls['phoneNumber'].touched)" class="alert alert-danger">
                                <div *ngIf="userProfileForm.controls['phoneNumber'].hasError('required')">
                                phoneNumber  is required.
                              </div>
                              <div *ngIf="userProfileForm.controls['phoneNumber'].hasError('minlength')">
                                phoneNumber  should be 10 characters.
                              </div>
                              <div *ngIf="userProfileForm.controls['phoneNumber'].hasError('maxlength')">
                                phoneNumber  should be 10 characters.
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input type="email" class="form-control" formControlName="email" id="email" [(ngModel)]="email" placeholder="you@email.com" title="enter your email.">
                            </div>
                            <div *ngIf="userProfileForm.controls['email'].invalid && (userProfileForm.controls['email'].dirty || userProfileForm.controls['email'].touched)" class="alert alert-danger">
                                <div *ngIf="userProfileForm.controls['email'].hasError('required')">
                                Email is required.
                              </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            
                            <div class="col-xs-6">
                                <label for="address"><h4>address</h4></label>
                                <input type="text" class="form-control" formControlName="address" [(ngModel)]="address" id="address" placeholder="address" title="enter address">
                            </div>
                            <div *ngIf="userProfileForm.controls['address'].invalid && (userProfileForm.controls['address'].dirty || userProfileForm.controls['address'].touched)" class="alert alert-danger">
                                <div *ngIf="userProfileForm.controls['address'].hasError('required')">
                                address is required.
                              </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                             <div class="col-xs-12">
                                  <br>
                                    <button class="btn btn-lg btn-success" ><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                     <br><br>
                              </div>
                        </div>
                        <div class="form-group">
                            
                          <div class="col-xs-6">
                              <label for="password"><h4>Old Password </h4></label>
                              <input type="password" class="form-control" formControlName="password" [(ngModel)]="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                          <div *ngIf="userProfileForm.controls['password'].invalid && (userProfileForm.controls['password'].dirty || userProfileForm.controls['password'].touched)" class="alert alert-danger">
                              <div *ngIf="userProfileForm.controls['password'].hasError('required')">
                              Please enter the password.
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>New Password</h4></label>
                              <input type="password" class="form-control" formControlName="password2" [(ngModel)]="password2" id="password2" placeholder="New password" title="enter your password2.">
                          </div>
                      </div>
                      <div *ngIf="userProfileForm.controls['password2'].invalid && (userProfileForm.controls['password2'].dirty || userProfileForm.controls['password2'].touched)" class="alert alert-danger">
                          <div *ngIf="userProfileForm.controls['password2'].hasError('required')">
                           New Password is required
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-12">
                             <br>
                               <button class="btn btn-lg btn-success" (click)="changePassword()" ><i class="glyphicon glyphicon-ok-sign"></i> change Password</button>
                                <br><br>
                         </div>
                   </div>
                    </form>
                
               </div>
               <div class="col-md-3"></div> 
            </div>
            
            

          </div>